a {
  transition: all 0.5s;
}

body {
  margin: 0;
  padding: 0;
  color: #81868e;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  .banner {
    width: 100%;
    height: 100vh;
    background: url("images/Banner.jpg") no-repeat center;
    position: relative;
    .header {
      max-width: 1170px;
      margin: 0 auto;
      padding-top: 30px;
      .header-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          a {
            font-family: 'Open Sans', Arial, sans-serif;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 800;
            &:hover {
              color: #81868E;
            }

          }
        }
        .navigation {
          .menu {
            list-style: none;
            display: flex;
            .menu-item {
              margin-left: 4px;
              a {
                text-decoration: none;
                font-size: 16px;
                color: #ffffff;
                padding: 5px 25px;
                border: 1px solid transparent;
                border-radius: 20px;
                &:hover {
                  border-color: #ffffff;
                }
              }
            }
          }
        }
      }
    }
    .title {
      width: 45%;
      height: 27%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      text-align: center;
      h1 {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 35px;
        line-height: 35px;
        font-weight: 300;
        letter-spacing: 0.2em;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 35px;
      }
      p {
        color: white;
        line-height: 25px;
        letter-spacing: 0.1em;
      }
    }
    .scroll {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 75%;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .portfolio {
    width: 100%;
    background: #f3f3f3;
    padding: 5% 0;
    .section-name{
      width: 35%;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.2em;
        color: #333b46;
        text-transform: uppercase;
      }
      p {
        margin: 5% auto;
        letter-spacing: 0.05em;
        line-height: 25px;
      }
    }
    .iso-nav {
      .sort-menu {
        list-style: none;
        display: flex;
        justify-content: center;

        .sort-menu-item {
          margin: 15px;
          font-family: 'Open Sans', Arial, sans-serif;
          font-size: 16px;
          color: #525252;
          cursor: pointer;
          position: relative;
          &.active:after {
            content: '';
            width: 38px;
            height: 2px;
            background: #19bd9a;
            position: absolute;
            top: 180%;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }
    .grid {
      max-width: 1120px;
      margin: 0 auto;
      padding-top: 3%;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
      .grid-item {
        margin: 3px 5px;
        float: left;
        width: 270px;
      }
    }
  }
  .team {
    width: 100%;
    padding: 5% 0;
    .section-name {
      width: 35%;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.2em;
        color: #333b46;
        text-transform: uppercase;
      }
      p {
        margin: 5% auto;
        letter-spacing: 0.05em;
        line-height: 25px;
      }
    }
    .slider {
      .dots {
        padding: 0;
        text-align: center;
      }
      & li {
        display: inline-block;
        margin: 0.6%;
        & button {
          font-size: 0;
          background: none;
          border: 1px solid #19bd9a;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          padding: 0;
          cursor: pointer;
          outline: none;
        }
      }
      & li.slick-active button {
        background: #19bd9a;
      }
      .slider-item {
        .team-wrap {
          width: 75%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 5% auto;
          .team-wrap-photo {
          }
          .team-wrap-content {
            width: 43%;
            text-align: right;
            padding-right: 5%;
            position: relative;
            h3 {
              font-family: 'Open Sans', Arial, sans-serif;
              font-size: 20px;
              letter-spacing: 0.04em;
              font-weight: 400;
              color: #464646;
              margin: 0;
            }
            span {
              font-family: 'Source Sans Pro', Arial, sans-serif;
              font-size: 14px;
              font-style: italic;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              margin: 14px 0;
              display: block;
            }
            p {
              line-height: 25px;
              letter-spacing: 0.05em;
            }
            &:after {
              content: '';
              width: 4px;
              height: 42px;
              background: #19bd9a;
              position: absolute;
              top: 0;
              left: 100%;

            }
          }
        }
      }
    }
  }
  .like {
    background: url("images/Like.jpg") no-repeat center;
    width: 100%;
    min-height: 201px;
    display: flex;
    align-items: center;
    justify-content: center;
    .like-wrap {
      width: 40%;
      height: 60%;
      text-align: center;

      p {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 20px;
        color: #ffffff;
      }
      button {
        width: 140px;
        height: 35px;
        margin-top: 10px;
        background: none;
        border: 1px solid #ffffff;
        border-radius: 35px;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 16px;
        color: #ffffff;
        outline: none;
        &:hover {
          background: #ffffff;
          color: black;
          cursor: pointer;
        }
      }
    }
  }
  .testimonials{
    width: 100%;
    background: #f3f3f3;
    padding: 5% 0;
    .section-name {
      width: 35%;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.2em;
        color: #333b46;
        text-transform: uppercase;
      }
      p {
        margin: 5% auto;
        letter-spacing: 0.05em;
        line-height: 25px;
      }
    }
    .slider {
      width: 85%;
      background: #ffffff;
      margin: 5% auto;
      .dots {
        padding: 30px;
        text-align: center;
      }
      & li {
        display: inline-block;
        margin: 0.6%;
        & button {
          font-size: 0;
          background: none;
          border: 1px solid #19bd9a;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          padding: 0;
          cursor: pointer;
          outline: none;
        }
      }
      & li.slick-active button {
        background: #19bd9a;
      }
      .slider-item {
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .slider-item-content {
          width: 65%;
          margin-left: 6%;
          p {
            line-height: 28px;
            letter-spacing: 0.05em;
          }
          h4 {
            font-size: 16px;
            color: #19bd9a;
            margin: 0;

          }
          span {
            line-height: 20px;
            color: black;

          }
        }
      }
    }
  }
  .contact-us {
    width: 100%;
    padding: 5% 0;
    .section-name {
      width: 35%;
      margin: 0 auto;
      text-align: center;
      h2 {
        font-family: 'Source Sans Pro', Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.2em;
        color: #333b46;
        text-transform: uppercase;
      }
      p {
        margin: 5% auto;
        letter-spacing: 0.05em;
        line-height: 25px;
      }
    }
    .google-map {
      height: 440px;
      margin: 70px 0;
    }
    .logo {
      text-align: center;
      a {
        font-family: 'Open Sans', Arial, sans-serif;
        color: #323a45;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 800;
      }
    }
    p {
      text-align: center;
    }
    .social {
      text-align: center;
      margin: 30px 0 20px 0;
      a {
        margin: 0 5px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
