@import url("https://fonts.googleapis.com/css?family=Lato:100,400,400i|Raleway:700");

body {
    margin: 0;
}

.section__header {
    min-height: 100vh;
    background: url("Images/HERO Img.jpg") center;
}

.section__header .header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 5% 0;
}

.section__header .header .header__menu {
    display: inline-block;
    float: right;
}

.section__header .header .header__menu-item {
    text-decoration: none;
    font-family: 'Lato', Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    margin: 0 25px;
}

.section__header .header .header__menu-item:hover {
    color: #afafaf;
}

.section__header .header .header__name {
    font-family: 'Raleway', Arial, sans-serif;
    color: #ffffff;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 120px;
}

.section__header .header .header__line {
    width: 7.3%;
    height: 2px;
    background: #ffffff;
    margin: 50px auto;
}

.section__header .header .header__text {
    width: 52%;
    font-family: 'Lato', Arial, sans-serif;
    color: #ffffff;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
}

.section__header .header .header__scroll {
    display: block;
    text-align: center;
    margin-top: 150px;
}

.section__services {
    width: 100%;
}

.section__services .services {
    max-width: 1170px;
    margin: 0 auto;
    padding: 5% 0;
}

.section__services .services .services__name {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.section__services .services .services__line {
    width: 7.3%;
    height: 2px;
    background: #000000;
    margin: 50px auto;
}

.section__services .services .services__wrap {
    display: flex;
    justify-content: space-between;
}

.section__services .services .services__wrap-item {
    width: 32%;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section__services .services .services__wrap-item-name {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 24px;
}

.section__services .services .services__wrap-item-text {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

.section__aboutus {
    width: 100%;
    background: url("Images/Img.jpg") center;
}

.section__aboutus .aboutus {
    max-width: 1170px;
    min-height: 500px;
    margin: 0 auto;
    background: url("Images/phone.png") no-repeat right bottom;
    position: relative;
}

.section__aboutus .aboutus .aboutus__content {
    width: 49%;
    height: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.section__aboutus .aboutus .aboutus__content .aboutus__name {
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 48px;
    line-height: 90px;
    text-transform: uppercase;
    color: #ffffff;
}

.section__aboutus .aboutus .aboutus__content .aboutus__text {
    margin: 0;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 22px;
    line-height: 28px;
    font-weight: 100;
    color: #ffffff;
}

.section__aboutus .aboutus .aboutus__content .aboutus__link {
    position: absolute;
    bottom: 0;
    font-family: 'Lato', Arial, sans-serif;
    color: #ffffff;
}

.section__aboutus .aboutus .aboutus__content .aboutus__link:hover {
    color: #afafaf;
}

.section__ourwork {
    width: 100%;
}

.section__ourwork .ourwork {
    max-width: 1170px;
    margin: 0 auto;
    padding: 5% 0;
}

.section__ourwork .ourwork .ourwork__name {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.section__ourwork .ourwork .ourwork__line {
    width: 7.3%;
    height: 2px;
    background: #000000;
    margin: 50px auto;
}

.section__ourwork .ourwork .ourwork__wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
}

.section__ourwork .ourwork .ourwork__wrap .ourwork__wrap-item {
    width: 31.6%;
    height: 420px;
}

.section__ourwork .ourwork .ourwork__wrap .ourwork__wrap-item-textblock {
    width: 100%;
    height: 100%;
    background: gray;
    opacity: 0.8;
    position: relative;
    display: none;
}

.section__ourwork .ourwork .ourwork__wrap .ourwork__wrap-item-textblock p {
    width: 60%;
    height: 27%;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 22px;
    color: #ffffff;
}

.section__ourwork .ourwork .ourwork__wrap .ourwork__wrap-item-textblock a {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -21px;
}

.section__ourwork .ourwork .ourwork__wrap .ourwork__wrap-item:nth-child(1) {
    background: url("Images/planet.jpg");
}

.section__ourwork .ourwork .ourwork__wrap .ourwork__wrap-item:nth-child(2) {
    background: url("Images/jetindus.jpg");
}

.section__ourwork .ourwork .ourwork__wrap .ourwork__wrap-item:nth-child(3) {
    background: url("Images/trimplement.jpg");
}

.section__ourwork .ourwork .ourwork__wrap .ourwork__wrap-item:hover .ourwork__wrap-item-textblock {
    display: block;
}

.section__ourwork .ourwork .ourwork__button {
    display: block;
    width: 32%;
    height: 60px;
    margin: 0 auto;
    background: none;
    border: 1px solid #000000;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 24px;
    line-height: 60px;
    cursor: pointer;
}

.section__ourwork .ourwork .ourwork__button:hover {
    background: #000000;
    color: #ffffff;
}

.section__contactus {
    width: 100%;
    min-height: 800px;
    background: url("Images/bg.jpg");
}

.section__contactus .contactus {
    max-width: 1170px;
    margin: 0 auto;
    padding: 5% 0;
    text-align: center;
}

.section__contactus .contactus .contactus__name {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.section__contactus .contactus .contactus__line {
    width: 7.3%;
    height: 2px;
    background: #ffffff;
    margin: 50px auto;
}

.section__contactus .contactus .contactus__link {
    margin: 0 1%;
}

.section__contactus .contactus .contactus__link:hover svg {
    transform: scale(1.5);
}

.section__contactus .contactus__form {
    width: 62%;
    height: 44%;
    margin: 50px auto;
    text-align: justify;
}

.section__contactus .contactus__form .contactus__form-item {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    height: 50px;
    background: none;
    border: 0;
    border-bottom: 2px solid #afafaf;
    margin: 20px 0;
}

.section__contactus .contactus__form .contactus__form-item:focus {
    outline: none;
}

.section__contactus .contactus__form .contactus__form-item::-webkit-input-placeholder {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    padding-left: 15px;
}

.section__contactus .contactus__form .contactus__form-item::-moz-placeholder {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    padding-left: 15px;
}

.section__contactus .contactus__form .contactus__form-item:-moz-placeholder {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    padding-left: 15px;
}

.section__contactus .contactus__form .contactus__form-item:-ms-input-placeholder {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    padding-left: 15px;
}

.section__contactus .contactus__form .col_6 {
    width: 45%;
}

.section__contactus .contactus__form .col_12 {
    width: 100%;
}

.section__contactus .contactus__form .contactus__form-button {
    display: block;
    width: 26%;
    height: 60px;
    margin: 30px auto;
    background: none;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 24px;
    border: 2px solid #ffffff;
    color: white;
    cursor: pointer;
}

.section__contactus .contactus__form .contactus__form-button:hover {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
}

/*# sourceMappingURL=Elegant.css.map */
