form{
    font-size: 0;
    padding-left: 40px;
}
input {
    display: inline-block;
}
div.main {
    width: 100%;
    margin: 0 10%;
}
input[type="text"] {
    width: 75%;
    height: 110px;
    background-color: #F1F1F1;
    border: none;
    opacity: 0.2;
    font-size: 90px;
    font-weight: bold;
}
input[type="button"] {
    width: 60px;
    height: 60px;
    border: none;
    background: url("Search.svg");
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
}
body {
    font-family: "Arial", sans-serif;
    background-color: #F1F1F1;
    font-size: 0.6em;
    font-weight: bold;
    color: #c2c2c2;
}
div {
    display: inline-block;
    width: 26%;
}
h2 {
    padding-left: 40px;
}
img {
    width: 40px;
    height: 40px;
}
.people img {
    border-radius: 50%;
}
li {
    list-style-type: none;
    background-color: rgba(118,117,128,0.05);
    margin: 2px;
    padding: 10px;
}
span {
    padding-left: 10px;
}
li > * {
    display: inline-block;
    vertical-align: middle;
}
li:hover {
    background-color:  rgba(118,117,128,0.1);
    color: #ec5a62;
    cursor: pointer;
}